<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <div class="imgParent mx-auto">
        <img class="logo" src="/img/logo.png">
      </div>
      <h3 class="text-center">Register</h3>
      <form action="/users/register" method="post">
        <div class="form-group mb-0">
          <label for="name">Name</label>
          <input type="text" class="form-control mb-3" name="name" value="{{name}}" required>
        </div>
        <div class="form-group mb-0">
          <label for="email">Email</label>
          <input type="email" class="form-control mb-3" name="email" value="{{email}}" required>
        </div>
        <div class="form-group mb-0">
          <label for="password">Password</label>
          <input type="password" class="form-control mb-3" name="password" value="{{password}}" required>
        </div>
        <div class="form-group mb-0">
          <label for="password2">Confirm Password</label>
          <input type="password" class="form-control mb-3" name="password2" value="{{password2}}" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>